.rightside {
  background: wheat;
}

.leftside {
  background:wheat;
}

.leftside, .rightside {
  height: 100vh;
  width: 100%;
}

.inpt {
  font-size: 20px;
}


.pixels {
  max-width: 150px;
  margin-right: 80px;
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 760px) {
  .leftside, .rightside {
    height: 100vh;
  }
  .inpt {
    font-size: 10px;
  }
}

#container-r {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cell {
  width: 60px;
  height: 50px;
  border: 1px solid #ccc;
}
button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 10px;
}

#checkInpValue {
  margin-bottom: 0;
  padding-bottom: 0;
}
